body{
    color: red;
    text-decoration: wavy;
    text-align: center;
}
.box{
    background-color: cornflowerblue;
    margin: 50px;

}
h1{
    color: black;
    font-size: 15px;
    text-decoration: bold;

}
