body{
    color: red;
    text-decoration: wavy;
    text-align: center;
}
.box{
    background-color: rgba(100,149,237,0.6);
    margin: 50px;
    /* padding: 5px */

}
.header{
    text-align: left;
    padding-left: 8px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(100,149,237);
}
h1{
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

.header span{
    color: white;
    align-self: center;
  

}
.texto{
    text-align: left;
    margin: 5px;
    margin-bottom: 5px;
}
.texto p{
    font-family: 'Courier New', Courier, monospace;
    color: saddlebrown;  
    font-size: 10px;  
}
#footer{
    text-align: center;
    color: orangered;
    /* margin: 2px 3px; */
    border: black 1px solid;
}
